@model Question1.Models.IndexViewModel
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<h2>Index</h2>

<h2>ADO.NET Result:</h2>
<p>@Model.AdoResult</p>

<h2>Entity Framework Result:</h2>
<p>@Model.EntityResult</p>