@model Question03.Models.PalindromeViewModel
@{
    ViewBag.Title = "Palindrome Checker";
}

<h2>Palindrome Checker</h2>

@using (Html.BeginForm("FindAndStorePalindromes", "Palindrome", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(model => model.InputString)
        @Html.TextBoxFor(model => model.InputString, new { @class = "form-control", required = "required" })
    </div>

    <button type="submit" class="btn btn-primary">Check Palindrome</button>
}

<br />

<div id="result">
    @if (Model.Palindromes != null && Model.Palindromes.Any())
    {
        <h3>Palindromes:</h3>
        foreach (var palindrome in Model.Palindromes)
        {
            <p>@palindrome</p>
        }

    }
    else
    {
        < p > No palindromes found.</ p >
    }
</div>